<app-pretty-toastr></app-pretty-toastr>

<main>
  <form [formGroup]="toastrForm" (ngSubmit)="openToast()">
    <h1>Pretty Angular Toastr</h1>
    <div class="col">
      <div class="row">
        <div class="field">
          <label for="title">Title</label>
          <input type="text" name="title" formControlName="title" />
        </div>

        <div class="field">
          <label for="message">Message</label>
          <input
            type="text"
            name="message"
            formControlName="message"
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="field">
          <label for="timeOut">TimeOut (ms)</label>
          <input type="number" formControlName="timeOut" />
        </div>

        <div class="field">
          <label>
            <input type="checkbox" formControlName="disableTimeOut" />
            Disable Timeout
          </label>
        </div>
      </div>

      <div class="row">
        <label
          ><input type="checkbox" formControlName="tapToDismiss" /> Tap to
          dismiss</label
        >
        <label
          ><input type="checkbox" formControlName="closeButton" /> Close
          button</label
        >
        <label
          ><input type="checkbox" formControlName="preventDuplicates" /> Prevent
          duplicates</label
        >
        <label
          ><input type="checkbox" formControlName="progressBar" /> Progress
          bar</label
        >
      </div>

      <div class="col">
        <div class="field">
          <label for="type">Type</label>
          <select name="type" id="type" formControlName="type">
            @for (item of typesArr; track item) {
            <option [value]="item">{{ item }}</option>
            }
          </select>
        </div>
      </div>

      <div class="row">
        <button type="submit" [disabled]="toastrForm.invalid">
          Open Toast
        </button>
      </div>
    </div>
    <small style="text-align: end;">made by Gustavo Esteves 😁</small>
  </form>
</main>
