<div class="toastr-container">
  @for (toastr of this.prettyToastrService.toastrsSignal(); track toastr.id) {
  @let tapToDismiss = prettyToastrService.tapToDismissSignal();

  <div
    class="toastr-message"
    [ngClass]="[toastr.type, tapToDismiss ? 'cursor-pointer' : '']"
    (click)="tapToDismiss && toastr.onTap?.()"
  >
    <div class="message-icon">
      <img [src]="'img/' + toastr.type + '.svg'" alt="ícone do toastr" />
    </div>

    <div class="message-content">
      <strong>{{ toastr.title }}</strong>
      <strong>{{ toastr.message }}</strong>
    </div>

    @if (toastr.closeButton) {
    <button class="close-button" (click)="toastr.onTap?.()">
      <img src="img/close.svg" alt="ícone do toastr" />
    </button>
    } @if (toastr.progressBar) {
    <div class="progress-bar"></div>
    }
  </div>

  }
</div>
